.aboutScreen-container {
  font-family: "Rubik Mono One", monospace;
  letter-spacing: 0.1rem;
  color: var(--primaryColor);
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  margin-top: 5vh;
  animation: aboutScreen-load 400ms ease-in 200ms;
  animation-fill-mode: forwards;
  transform: translateY(-50px);
  opacity: 0;
}

.aboutScreen-linksContainer {
  display: flex;
  flex-flow: column nowrap;
  margin: 5vh auto;
  padding: 2vh 0;
  border-top: 1px solid var(--secondaryColor);
  border-bottom: 1px solid var(--secondaryColor);
}

.aboutScreen-link {
  color: var(--primaryColor);
  background-size: 50.1% var(--p, 0.08em);
  background-color: var(--secondaryBackground);
  font-size: 1.25rem;
  margin: 2vh 0 3vh;
  padding: 1vh;
  border: 1px solid var(--secondaryColor);
  text-decoration: none;
}

.aboutScreen-link:hover {
  color: var(--secondaryColor);
  border-style: outset;
}

@keyframes aboutScreen-load {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
